/* ---------------
 base.css
--------------- */
html {
    font-size: 62.5%;
}

body {
    font-family: "Sawarabi Mincho";
    font-size: 1.0rem;
    background-color: #efefef;
    }

* {
    font-size: 1.6em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

i {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #000;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/* ---------------
 header
--------------- */
#top-header {
    top: 0;
    position: fixed;
    margin-top: 0;
    width: 100%;
}

#top-header li {
    float: left;
}

#top-header .today {
    width: 25%;
    text-align: center;
    font-size: 3rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#top-header .today ul {
    width: 4em;
    margin: auto;
}

#top-header .today ul:after {
  display: block;
  clear: both;
  content: "";
}

#top-header .today li:nth-child(2n+1){
  float: left;
  width: 3em;
  text-align: left;
}

#top-header .today li:nth-child(2n+2){
  float: right;
  width: 1em;
  font-size: 3rem;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
     -webkit-writing-mode:vertical-rl;
}

#top-header .today li span {
  display: block;
  font-size: 1.6rem;
}


#top-header .title{
    width: 50%;
    text-align: center;
}

#top-header .title h2 {
    font-size: 5rem;
    font-weight: bold;
}

#top-header .inner {
    width: 25%;
    padding: 0;
}

#top-header .inner #mobile-header{
    float: right;
    width: 30px;
}


/* ---------------
 header navi
--------------- */

/* Fixed reset */
#top-header.fixed {
    padding-top: 0;
    background: transparent;
}
#mobile-header {
    background: #fff;
    width: 100%;
    height: 56px;
    z-index: 999;
    position: relative;
}
#top-header.fixed .logo,
#top-header .logo {
    position: absolute;
    left: 13px;
    top: 13px;
    color: #333;
    font-size: 26px;
}
#global-nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -500px;
    background: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#global-nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    font-size: 14px;
}
#global-nav ul li {
    float: none;
    position: static;
}
#top-header #global-nav ul li a,
#top-header.fixed #global-nav ul li a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 18px 0;
}
#nav-toggle {
    display: block;
}
/* #nav-toggle 切り替えアニメーション */
.open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
}
.open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
}
.open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
}
/* #global-nav スライドアニメーション */
.open #global-nav {
    /* #global-nav top + #mobile-header height */
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #666;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}

/*---------------------
article
---------------------*/

#article {

}

#article section {
    width: 23.5%;
    border: 5px solid #000;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    background-color: #FFF;
    padding: 20px;
}

#article section:nth-child(4n) {
    margin-right: 0;
}

#article section img {
    width: 100%;
    height: 600%;
    border: 1px solid #000;
    margin-bottom: 1em;
}

#article section p {
    margin-bottom: .8em;
}

#article section p span{
    padding-right: 1em;
}

#article section h3 {
    font-size: 1.5em;
}

#article section .tag.lime {
background: linear-gradient(transparent 60%, #66FFCC 60%);
}



/*---------------------
footer
---------------------*/

footer .footer{
    padding: 10px;
    background-color: #FFFF00;
    font-size: 2em;
}

footer .footer .title {
    float: left;
    font-size: 2.2em;
    font-weight: bold;
}

footer .footer .footer_right{
    float: right;
}

footer .footer ul {
    float: left;
}

footer .footer li {
    float: left;
    border: 5px solid #fff;
    border-radius: 100px;
}

footer .footer a {
    float: right;
}

footer .copyright{
    background-color: #000000;
    color: #FFF;
    text-align: right;
    padding: .8em;
    font-size: 1rem;
}


/*---------------------
pager
---------------------*/

.pager  {
    overflow: hidden;
    margin-bottom: 30px;
}

.pager ul {
    position: relative;
    left: 50%;
    float: left;
}

.pager ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 1px;
}

.pager ul li a {
    display: block;
    font-size: 1.5em;
    padding: .6em 1em;
    border-radius: 20%;
}

.pager ul li a.current {
    background-color: #0000FF;
    color: #FFF;
}

.pager ul a.black {
    background-color: #000;
    color: #FFF;
}



