/* ---------------
 index.css
--------------- */

 #main .mainHero {
    height: 100vh;
    background: #0000FF;
    background-image: url("../img/bg_glid.png");
    background-size: auto 20vh;
    background-position: 100% 0;
    color: #fff;
 }










#wrapper {
  position: relative;
  max-width: 900px;
  margin: 0 auto;   /*全体の中央寄せ*/
}
#container {
  width: 100%;
  margin: 0 auto;   /*中央寄せ*/
  position: relative;
}
.item {
  margin: 10px;
  width: 140px;
  padding: 8px;
  border: 1px solid #eee;
}
.item.x2 {
  width: 320px;
}
.item.x3 {
  width: 500px;
}
.item img {
  width: 100%;
}