/* ---------------
 index.css
--------------- */

 #main .mainHero {
    height: 100vh;
    background: #0000FF;
    background-image: url("../img/bg_glid.png");
    background-size: auto 20vh;
    background-position: 100% 0;
    color: #fff;
 }

#article {
width:100%;
padding:10px;
border:1px solid #EEE;
overflow:auto;
}

.item {
width:220px;
margin:5px;
padding:10px;
float:left;
background:#424242;
color:#fff;
display:inline;
}